<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="phonemail" translate="label" sortOrder="999">
            <label>PhoneMail</label>
        </tab>
        <section id="phonemail" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PhoneMail Settings</label>
            <tab>phonemail</tab>
            <resource>MagoArab_PhoneMail::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable PhoneMail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the PhoneMail extension</comment>
                </field>
                <field id="use_custom_domain" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Custom Email Domain</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set to 'No', the store domain will be used for generating email addresses</comment>
                </field>
                <field id="custom_domain" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Email Domain</label>
                    <comment>Enter a custom domain for generated email addresses (e.g., mydomain.com)</comment>
                    <depends>
                        <field id="use_custom_domain">1</field>
                    </depends>
                    <validate>validate-domain</validate>
                </field>
            </group>
            <group id="whatsapp" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WhatsApp Integration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable WhatsApp Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable WhatsApp notifications</comment>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp API URL</label>
                    <comment>Enter the WhatsApp Business API endpoint URL</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="api_key" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp API Key</label>
                    <comment>Enter your WhatsApp Business API key</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="template_order_confirmation" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Confirmation Template</label>
                    <comment>Enter the template name for order confirmation messages</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="template_shipping_update" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping Update Template</label>
                    <comment>Enter the template name for shipping update messages</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>